# Open WebUI service settings
CONTAINER_NAME=open-webui
IMAGE=ghcr.io/open-webui/open-webui:main
RESTART_POLICY=unless-stopped

# Port mapping
HOST_PORT=3000
CONTAINER_PORT=8080

# Persistent data volume
DATA_VOLUME=open-webui
